@import '../../../theme/variables';


form{
  margin-bottom: 35px;
}

.filter-ion-button{
  --background: none !important;
  margin-bottom: 35px;
}


ion-button{
  --border-radius: 5px !important;
  --background: none;
  color: $tertiary;
  width: 15%;
}
