@import '../../../../theme/variables';


.ion-button-close{
  --background: none;
}

.modal-ion-card{
  margin-top: 80px;
  width: 90%;
  min-height: 80vh;
  background: $fourtiary;

  ion-img{
    border-radius: 20px;
  }
}

ion-header{
  background: $secondary;
}



hr {
  // border: 2px solid red !important;
  height: 2px !important;
  width: 80% !important;
  background: $tertiary !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.principal-image{
  min-height: 450px !important;
}
