@import '../../../../theme/variables';

:host{
  // margin-top: 70vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ion-button-close{
  --background: none;
  --color:white !important;
}


ion-item{
  margin-top: 20px;
}

