@import '../../../../theme/variables';

:host{
  width: 100%;
}

:host ::ng-deep .swiper-pagination{

  .swiper-pagination-bullet {
    background-color: $primary;
  }

}

ion-button{
  --border-radius: 5px !important;
}

.ion-card-header{
  min-height: 70px !important;
  margin-top: -5px;
  color: $fifthiary;
  background: $secondary !important;
}

.card{
  min-height: 200px;
}

ion-img::part(image) {
  border-radius: 8px !important;
}

.line-card {
  width: 93%;
  // margin: 0 auto;
  min-height: 95px;
  --background: #282C34;

  padding: 5px;

  .line-card-image{
    width: 18%;

    img, ion-img{
      min-height: 0 !important;
    }
  }
}
