@import '../../../../theme/variables';

:host{
  width: 100%;
}

.error-serve{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img{
    width: 25%;
  }

  div{
    width: 80%;
    text-align: center;
  }
}
