@import '../../../theme/variables';

:host{
  width: 100%;
}

.loadingspinner{
  width: 50px;
  height: 50px;
  border: 5px solid $primary;
  border-radius: 50%;
  margin-left: 45%;
  border-top-color: $secondary;
  animation: spinner 0.3s infinite linear
}

@keyframes spinner {
  0%{transform:rotate(0deg);}
  100%{transform: rotate(360deg);}
}
